{% macro reviewBlock(review, reviewType, app) %}
  {% set url = app[review.defaultUrl] if review.defaultUrl else review.url %}

  <li data-review-type="{{ reviewType }}">
    <blockquote class="cr-blockquote" cite="{{ url }}">
      <header class="cr-blockquote__header"># {{ app.name | safe }}</header>
      <p class="cr-blockquote__text">{{ review.quote | safe }}</p>
      <footer class="cr-blockquote__footer">
        <a href="{{ url }}" target="_blank">
          {% if review.stars -%}
            <span>
              {%- for i in range(0, review.stars) -%}
                ★
              {%- endfor -%}
            </span>
          {% else %}
            [NOSTARS]
          {% endif -%}

          {# {{ review.source | safe }} &nbsp;&nbsp;&nbsp; App: {{ app.name | safe }} #}
          {{ review.sourceLine if review.sourceLine else review.source | safe }}
        </a>
      </footer>
    </blockquote>
  </li>
{% endmacro %}