{% macro reviewBlock(review, reviewType, app) %}
  <li data-review-type="{{ reviewType }}">
    <blockquote cite="{{ review.url }}">
      <p>{{ review.quote | safe }}</p>
      <footer>
        <a href="{{ app[review.defaultUrl] if review.defaultUrl else review.url }}" target="_blank">{{ review.source | safe }}</a>
      </footer>
    </blockquote>
  </li>
{% endmacro %}