---
---

Hello4

{% for app, reviewsByApp in reviews %}
  <h2>{{ app }} </h2>
  {# <p>{{ reviewsByApp | dump }}</p> #}
  {% for year, reviewsByYear in reviewsByApp %}
    <h3>{{ year }}</h3>
    {% for review in reviewsByYear %}
      <li>
        {{ review.quote }} - {{ review.url }}
      </li>
    {% endfor %}
  {% endfor %}
{% endfor %}

{# {{ reviews | dump }} #}

<hr>

{# {{ reviews.pitchblackwallpaper | dump }} #}

<hr><hr><hr>

{% for app, reviewsByApp in reviews %}
  <h1>{{ app }}</h1>
  {% for type, reviewsByYear in reviewsByApp %}

    <div>
      <h2>{{ type }}</h2>
      <ul>
        {% for year in reviewsByYear %}
          {% for review in year %}
          <li>
            {{ review.quote }} - {{ review.url }}
          </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>

  {% endfor %}
{% endfor %}
